<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ if eq .Title "Home" }}
            <title>OGsyn</title>
        {{ else }}
            <title>{{ .DisplayTitle }}</title>
        {{ end }}
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <!-- water.css, switch to skeleton.css if more specificity is needed -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
        <link rel="stylesheet" href="/dep/style.css">

        <script src="/dep/htmx.min.js"></script>

    </head>

    <body>
        <header>
            <!-- RIBBON -->
            <nav>
                <div class="nav-left">
                    <a href="/" class="logo-link">
                        <img src="/images/title01.png" alt="home page">
                    </a>
                </div>
                <div class="nav-right">
                    {{if .Username}}
                        <b>Account: <a href="/login">{{.Username}}</a></b>
                    {{else}}
                        <a href="/login">Login/Register</a>
                    {{end}}
                </div>
            </nav>
            
            <hr>
        </header>

        <main>
            <!-- INSERT CONTENT -->
            {{ template "content" . }}
        </main>
    </body>
</html>