{{define "content"}}

<h1>Editing Page: <i>"{{ .Data.Page.Title }}"</i></h1>

<div id="upload-container">
    <form id="upload_form">
        <i><b>Title</Title></b></i>
        <input type="hidden" name="original_title" value="{{ .Data.Page.Title }}">
        <textarea type="text" name="title" rows="1" cols="80">{{ .Data.Page.Title }}</textarea>
        <i><b>Image</Title></b></i>
        <input type="file" name="image" accept="image/*">
        <i><b>Description</Title></b></i>
        <textarea name="description" rows="4" cols="80">{{ .Data.Page.Content }}</textarea>
        <i><b>Tags</Title></b></i>
        <textarea name="tags" rows="1" cols="80">{{ .Data.TagString }}</textarea>
        <i><b>Post Time</Title></b></i>
        <input type="datetime-local" name="post_time" id="post_time">
        <div class="checkbox-container">
            <input type="checkbox" name="unlisted" id="unlisted">
            <label for="unlisted">Unlist from home page</label>
        </div>

        <div class="checkbox-container">
            <input type="checkbox" name="link_post" id="link_post">
            <label for="link_post">Make the image a link post</label>
        </div>
        <textarea type="text" name="url_link" placeholder="URL (link post required)" rows="1" cols="80"></textarea>

        <button type="button"
                hx-post="/modify-page"
                hx-include="#upload_form"
                hx-encoding="multipart/form-data"
                hx-target="#upload-status"
                hx-swap="innerHTML"
                onclick="document.getElementById('upload-status').innerHTML='Uploading...'"
                >
            Save
        </button>
    </form>
    <h3><code><div id="upload-status">status</div></code></h3>
    
</div>

<script>
    document.addEventListener('htmx:responseError', function(event) {
        if (event.detail.error && event.detail.error.includes('413')) {
            document.getElementById('upload-status').innerHTML = "Error 413, file is too large.";
        } else {
        statusDiv.innerHTML = "Error: " + event.detail.error || event.detail.xhr.statusText || "Unknown error occurred";
    }
    });
    </script>
{{end}}
