{{define "content"}}

    <p>Posted: {{ .Data.PostTime }}</p>

    <img src="data:image/png;base64,{{ .Data.Image }}" alt="Image">

    {{template "Comments" .Data}}

    {{ range .Data.Tags }}
        <h3><a href="/index/tags={{ .Name }}">{{ .Name }}</h3>
    {{ end }}

    {{ if .Admin }}
    <button type="button"
            hx-post="/delete"
            hx-vals='{ "title": "{{ .Title }}" }'
            hx-swap="none"
            >
        Delete Page
    </button>
    {{else}}
    {{end}}
    
{{end}}