<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Title}}</title>
        <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
        <!-- water.css, switch to skeleton.css if more specificity is needed -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
        <script src="/dep/htmx.min.js"></script>
    </head>

    <body>
        <!-- TODO: center splash -->
        <main>
            <h1>Cookies?</h1>
            <p>Do you consent to session data being stored on the cookie.<p>
            
            <button hx-post="/request-authenticate"
                    hx-swap="none"
                    title="Agree and enter site">
                    Enter
                </button>
            <!-- TODO: back button doesn't work, just redirect to google if I can't get it to work -->
            <button hx-trigger="click"
                    hx-get="javascript:history.back()" 
                    hx-swap="none"
                    title="Exit">
                    Exit
            </button>
        </main>
    </body>
</html>
